:root {
    --font-family: "Roboto", sans-serf;
    --font-color: #black;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #1bc5cb;
    --secondary-color: #ff357c;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --section-background:#ff357c25; 
    --bottom-margin: 8px;
    --bottom-margin-2: 16px;
    --line-height: 27px;
    --transition: 0.5s;
  }
  
  /* Navbar*/

* {
  box-sizing: border-box;
}

.topnav {
  overflow: hidden;
  background-color: var(--primary-color);
}

.topnav a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: var(--bold-font);
}

.topnav a:hover {
  background-color: white;
  color: var(--secondary-color);
  transition: var(--transition);
  font-weight: var(--bold-font);
}

@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

  /* Main Image and Bio */

  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 2500px;
    margin: auto;
  }

  .main img {
    max-width: 65%;
    height: auto;
  }
  
  .bio {
    width: auto;
    height: auto;
    min-width: 260px;
    padding: 8px;
    border-radius: 6px;
    box-shadow: 0px 2px 5px 2px var(--primary-shadow);
  }
  
  .bio h1 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
    color: var(--primary-color);
    font-size: 2.5em;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  
  .bio p {
    line-height: var(--line-height);
    padding: 5px 15px;
    width: auto;
    height: auto;
    min-width: auto;
  }

@media screen and (max-width: 700px) {
  .main {   
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .main img {   
    max-width: 100%;
    height: auto;
  }
}

  /* Projects Section */

  .projects h2 {
    color: var(--primary-color);
    margin-left: 1em;
  }
  
  .project-boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--section-background);
    width: 100%;
  }
  
  .project-boxes > div {
    background-color: white;
    margin: 5px;
    padding: 5px;
    font-size: 30px;
    flex-basis: auto;
  }

  .zoom {
    transition: transform .2s;
    width: auto;
    height: auto;
    margin: auto;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }

  /* Contact Info */

  .contact h2 {
    color: var(--primary-color);
    margin-left: 1em;
  }
  
  .contact a {
    color: var(--primary-color);
    transition: var(--transition);
  }
  
  .contact ul {
    display: flex;
    gap: 1.9rem;
  }
  
  .contact ul li {
    font-weight: var(--bold-font);
  }

  .contact li {
    display: inline;
    float: left;
}

  .contact a {
    display: block;
    padding: 10px;
    margin-right: 5px;
}

.contact a:hover {
    color: var(--secondary-color);
  }

  /* Footer */
  footer {
    text-align: center;
    padding: 3px;
    background-color: var(--section-background);
    color: var(--font-color);
  }